
ul {
  list-style-type: none;
}
li a {
	text-decoration: none;
}

nav {
	background: #004643;
  }
.nav-header {
	display: flex;
	align-items: center;
	padding: 0.2rem;
	align-items: center;
	justify-content: space-between;
	transition: all 0.3s linear;
  }
  .nav-toggle {
	font-size: 2rem;
	color:#f9bc60;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	margin: 10px;
  }
  .logo {
	height: 40px;
	float: right;
	padding-top: 15px;
	padding-right: 20px;
  }
  .links a {
	color: #f9bc60;
	font-size: 1rem;
	text-transform: uppercase;
	display: block;
	padding: 0.2rem;
	transition: 0.8s;
  }
  .social-icons {
	display: none;
  }
  .links {
	height: 0rem;
	overflow: hidden;
	transition: 1s;
  }
  .show-links {
	height: 13rem;
  }

  @media screen and (min-width: 800px) {
	.nav-center {
	  max-width: 1170px;
	  margin: 0 auto;
	  display: flex;
	  align-items:center;
	  justify-content:space-around;
	  padding: 2rem;
	}
	.nav-header {
	  padding: 0;
	}
	.nav-toggle {
	  display: none;
	}
	.links {
	  height: auto;
	  display: flex;
	}
	.links a {
	  padding: 0;
	  margin: 0 0.5rem;
	}
	}
	.social-icons {
	  display: flex;
	}
	.social-icons a {
	  margin: 0 0.5rem;
	}

  