
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --radius: 0.5rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background:#d9d4e7;
  color: black;
  line-height: 1.5;

}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1, h2, h3, h4 {
    line-height: 1;
  }
}
/*  global classes */

main {
  min-height: 50vh;
  display: grid;
  place-items: center;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  width: 80vw;
  max-width: var(--fixed-width);
}
.review {
  background:#f9f8fc;
  padding: 2rem 2rem;
  border-radius: var(--radius);
  text-align: justify;
}

.img-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
#game-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  position: relative;
  border: 1px solid purple;
}

#game {
  margin-bottom: 0.25rem;
  text-align: center;
  color: #0e172c;
  font-size: 30px;
  text-transform: uppercase;
}
#score {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #0e172c;
  font-size: large;
  font-weight: bold;
}
#synopsis {
  margin-bottom: 0.75rem;
  text-align: center;
  color:#361f5e;
  text-align: justify;
}
.prev-btn, .next-btn {
  background:black;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.random-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border-radius: 40px;
  background-color: #d9d4e7;
}

.button-container{
	display: flex;
	justify-content: center;
}

.random-btn-div{
	display: flex;
	justify-content: center;
	align-items: center;
}