body {
	background-color: #fef6e4;
	font-family:'Gill Sans';
	font-size: large;
}

.container {
	background-color: #8bd3dd;
	color: #fef6e4;
	text-align: center;
	margin: 2%;
	padding: 25px;
	border: 10px;
	border-radius: 40px;
}

.btn-hero {
	text-align: center;
	color: #f582ae;
	background-color: #fef6e4;
	padding: 20px;
	font-size: large;
	font-weight: bold;
	border: 2px solid #f582ae;
	border-radius: 40px;	
	cursor:help;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8bd3dd;
	border-radius: 40px;
}

li {
	float:left;
}


li a {
	display: block;
	color: #f582ae;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
}

li a:hover {
	color: #001858;

}

h2 {
	text-align: center;
	color:#f582ae;
}

.hex {
	float: right;
}

.simple {
	float:left
}


.thecolor {
	padding: 40px;
}